
.carousel-indicators{
    margin-top: -3rem !important;
    position: absolute;
    bottom: 88px;
}

.carousel-indicators .bullet{
    width: 8px;
    height: 8px;
    border-radius: 50%;
}


/* This section allowed me to apply linear-gradient to the image even when it is not a background image */
.carousel-item:before {
    content: '';
    position:absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgba(38, 47, 90, 0) 0%, rgba(26, 7, 1, 0.99) 56%, #1a0701 57%);
    opacity: 0.567;
    /* z-index: 3; */

}


/* Sectioning the caption at the middle of the div */
.carousel-caption{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}


/* setting different property to the h1 tag */
.carousel-caption h1{
    font-size: 66px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.3;
    margin-bottom: 31px;
    font-family: 'Noto Serif', serif;
    animation: upSlide 2s ease;
    /* position: relative;
    top: 100%;
    left: 0;
    transform: translateY(-50%); */
}

/* setting different property to the h3 tag */
.carousel-caption h3 {
    font-size: 30px;
    color: #fff;
    position: relative;
    display: inline-block;
    margin-bottom: 60px;
    animation: downSlide 2s ease;
  }

/* Putting a line at the begining of h3 */
.carousel-caption h3::before {
    position: absolute;
    content: "";
    width: 154px;
    height: 2px;
    background: #e59a09;
    top: 0;
    left: -180px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  /* Putting the line at the end of the h3 */
  .carousel-caption h3::after {
    position: absolute;
    content: "";
    width: 170px;
    height: 2px;
    background: #e59a09;
    top: 0;
    right: -190px;
    top: 50%;
    transform: translateY(-50%);
  }


  /* Creating the animation effect for the h1 and h3 to animate on load.
  This animation allows the text to appear from the bottom of the screen */
  @keyframes downSlide {
    0% {
      transform: translateY(-300%);
      opacity: 0;
    }
    100%{
        transform: translateY(0%);
    }
  }

  
 /* Creating the animation effect for the h1 and h3 to animate on load.
  This animation allows the text to appear from the top of the screen */
  @keyframes upSlide {
    0% {
      transform: translateY(300%);
    }
    /* 70% {
      transform: translateY(-100%);
    } */

    100%{
        transform: translateY(0%);
    }
  }
    


  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .slider-area .h1-slider-caption h1 {
      font-size: 51px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .slider-area .h1-slider-caption h1 {
      font-size: 34px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .carousel-indicators{
        /* margin-top: 6rem !important; */
        position: absolute;
        bottom: -10px;
    }

    /* setting different property to the h1 tag */
.carousel-caption h1{
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 31px;
    margin: 0!important;
    font-family: 'Noto Serif', serif;
    animation: upSlide 2s ease;
}

/* setting different property to the h3 tag */
.carousel-caption h3 {
    font-size: 13px;
    color: #fff;
    position: relative;
    display: inline-block;
    margin-bottom: 60px;
    animation: downSlide 2s ease;
  }

  /* Putting a line at the begining of h3 */
.carousel-caption h3::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    background: #e59a09;
    top: 0;
    left: -70px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  /* Putting the line at the end of the h3 */
  .carousel-caption h3::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    background: #e59a09;
    top: 0;
    right: -70px;
    top: 50%;
    transform: translateY(-50%);
  }

  
/* Sectioning the caption at the middle of the div */
.carousel-caption{
    /* position: absolute; */
    width: 100%;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    z-index: 2;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

  }





  /* About our hotel section */

  
.customer-caption {
    padding-left: 96px;
  }

  
.customar-padding {
    padding-top: 260px;
    padding-bottom: 93px;
  }
  .fix {
    overflow: hidden;
  }

  .heartbeat {
    animation: heartbeat 1s infinite alternate;
  }
  
  @keyframes heartbeat {
    to {
      -webkit-transform: scale(1.03);
      transform: scale(1.03);
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .customar-padding {
      padding-top: 160px;
      padding-bottom: 93px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .customar-padding {
      padding-top: 160px;
      padding-bottom: 80px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .customar-padding {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 160px;
      padding-bottom: 80px;
    }
  }
  
  @media (max-width: 767px) {
    .customar-padding {
      padding-top: 80px;
      padding-bottom: 80px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
  
  @media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .customer-caption {
      padding-left: 96px;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .customer-caption {
      padding-left: 60px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .customer-caption {
      padding-left: 10px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .customer-caption {
      padding-left: 0px;
    }
  }
  
  @media (max-width: 767px) {
    .customer-caption {
      padding-left: 0px;
    }
  }
  
  .customer-caption span {
    color: #dca73a;
    font-size: 16px;
    display: block;
    margin-bottom: 13px;
  }
  
  .customer-caption h2 {
    color: #112e41;
    font-size: 37px;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 32px;
    font-family: 'Noto Serif', serif;
  }
  
  @media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .customer-caption h2 {
      font-size: 28px;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .customer-caption h2 {
      font-size: 22px;
    }
  }
  
  @media (max-width: 767px) {
    .customer-caption h2 {
      font-size: 25px;
    }
  }
  
  .customer-caption .caption-details .pera-dtails {
    color: #112e41 !important;
    font-size: 20px;
    padding-right: 69px;
    margin-bottom: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
  }
  
  @media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .customer-caption .caption-details .pera-dtails {
      padding-right: 0px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .customer-caption .caption-details .pera-dtails {
      padding-right: 0px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .customer-caption .caption-details .pera-dtails {
      padding-right: 0px;
    }
  }
  
  @media (max-width: 767px) {
    .customer-caption .caption-details .pera-dtails {
      padding-right: 0px;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .customer-caption .caption-details .pera-dtails {
      font-size: 17px;
    }
  }
  
  @media (max-width: 767px) {
    .customer-caption .caption-details .pera-dtails {
      font-size: 18px;
    }
  }
  
  .customer-caption .caption-details p {
    color: #888888;
    line-height: 28px;
    font-size: 15px;
    margin-bottom: 52px;
    padding-right: 26px;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .customer-caption .caption-details p {
      padding-right: 0px;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) and (min-width: 1200px) and (max-width: 1600px) {
    .customer-caption .caption-details p {
      padding-right: 0px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .customer-caption .caption-details p {
      padding-right: 0px;
    }
  }
  
  @media (max-width: 767px) {
    .customer-caption .caption-details p {
      padding-right: 0px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .customer-caption .caption-details p {
      padding-right: 0px;
    }
  }
  

  .customer-img {
    position: relative;
  }
  
  .customer-img .customar-img1 {
    max-width: 717px;
  }
  
  @media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .customer-img .customar-img1 {
      max-width: 541px;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .customer-img .customar-img1 {
      max-width: 466px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .customer-img .customar-img1 {
      max-width: 65%;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .customer-img .customar-img1 {
      max-width: 70%;
    }
  }
  
  @media (max-width: 767px) {
    .customer-img .customar-img1 {
      max-width: 90%;
    }
  }
  
  .customer-img .customar-img2 {
    max-width: 340px;
    position: absolute;
    top: -60px;
    right: -11px;
    z-index: -1;
  }
  
  @media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .customer-img .customar-img2 {
      right: -67px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .customer-img .customar-img2 {
      right: 196px;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .customer-img .customar-img2 {
      right: -62px;
    }
  }
  
  @media (max-width: 767px) {
    .customer-img .customar-img2 {
      display: none;
    }
  }
  
  .customer-img::before {
    background-image: url(../../assets/img/customer/customar1.png);
    position: absolute;
    content: "";
    top: -59px;
    right: -11px;
    max-width: 645px;
    z-index: -2;
    height: 479px;
    width: 500px;
  }
  
  @media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .customer-img::before {
      right: -67px;
    }
  }
  
  @media (max-width: 767px) {
    .customer-img::before {
      display: none;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .customer-img::before {
      right: -61px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .customer-img::before {
      right: 198px;
      display: none;
    }
  }
  
  .make-customer-area {
    position: relative;
  }

  
.service-experience {
    background: #262626;
    position: absolute;
    right: 38px;
    border-radius: 10px;
    box-shadow: 0.907px 12.968px 20px 0px rgba(85, 85, 85, 0.2);
    bottom: 0;
    width: 418px;
    bottom: -27px;
    padding: 28px 0;
    text-align: center;
  }
  
  @media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .service-experience {
      bottom: -60px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .service-experience {
      left: 0;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .service-experience {
      right: -21px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .service-experience {
      right: 150px;
    }
  }
  
  @media (max-width: 767px) {
    .service-experience {
      left: 0;
      max-width: 83%;
    }
  }
  
  @media (max-width: 767px) {
    .service-experience {
      min-width: 30%;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .service-experience {
      min-width: 20%;
    }
  }
  
  @media (max-width: 767px) {
    .service-experience {
      padding: 18px 0;
    }
  }
  
  .service-experience h3 {
    color: #ffffff;
    font-size: 35px;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .service-experience h3 {
      font-size: 28px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .service-experience h3 {
      font-size: 25px;
    }
  }
  
  @media (max-width: 767px) {
    .service-experience h3 {
      font-size: 23px;
    }
  }

  /* button style */
.btn {
    -moz-user-select: none;
    background: #dca73a;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 0;
    margin-bottom: 0;
    padding: 25px 39px;
    text-align: center;
    text-transform: capitalize;
    touch-action: manipulation;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .btn:hover {
    background: #f1b233;
    color: #fff;
  }

  .btn i {
  color: #ffffff;
  font-size: 12px;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
  /* End of about our hotel */



  /* Dinning Section */

  .dining-padding-top {
    padding-top: 200px;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .dining-padding-top {
      padding-top: 100px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .dining-padding-top {
      padding-top: 100px;
    }
  }
  
  @media (max-width: 767px) {
    .dining-padding-top {
      padding-top: 0px;
    }
  }
  

.dining-area .single-dining-area {
  position: relative;
  padding: 150px 0;
}

.dining-area .dining-caption {
    background: rgba(252, 252, 252, 0.95);
    padding: 92px 98px 98px 96px;
    border-radius: 5px;
    position: relative;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .dining-area .dining-caption {
      padding: 60px 69px 68px 61px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .dining-area .dining-caption {
      padding: 57px 59px 65px 79px;
    }
  }
  
  @media (max-width: 767px) {
    .dining-area .dining-caption {
      padding: 55px 38px 53px 29px;
    }
  }
  
  .dining-area .dining-caption span {
    color: #dca73a;
    text-transform: uppercase;
    margin-bottom: 14px;
    display: block;
  }
  
  .dining-area .dining-caption h3 {
    font-weight: 600;
    color: #112e41;
    margin-bottom: 30px;
  }
  
  .dining-area .dining-caption p {
    margin-bottom: 56px;
    line-height: 1.6;
    font-size: 15px;
  }
  
  @media (max-width: 767px) {
    .dining-area .dining-caption p br {
      display: none;
    }
  }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .dining-area .single-dining-area {
    padding: 10px 0;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .dining-area .single-dining-area {
    padding: 10px 0;
  }
}

@media (max-width: 767px) {
  .dining-area .single-dining-area {
    padding: 10px 0;
  }
}

.dining-area .single-dining-area.left-img {
  position: relative;
}

.dining-area .single-dining-area.left-img::before {
  position: absolute;
  left: 0;
  content: "";
  top: 0;
  bottom: 0;
  background-image: url(../../assets/img/dining/dining-img.jpg);
  width: 50%;
  border-radius: 0 5px 0 0;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  .dining-area .single-dining-area.left-img::before {
    display: none;
  }
}

.dining-area .single-dining-area.right-img {
  position: relative;
}

.dining-area .single-dining-area.right-img::before {
  position: absolute;
  right: 0;
  content: "";
  top: 0;
  bottom: 0;
  background-image: url(../../assets/img/dining/dining-img2.jpg);
  width: 50%;
  border-radius: 0 0 0 5px;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 767px) {
  .dining-area .single-dining-area.right-img::before {
    display: none;
  }
}

.dining-area .dining-caption {
  background: rgba(252, 252, 252, 0.95);
  padding: 92px 98px 98px 96px;
  border-radius: 5px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .dining-area .dining-caption {
    padding: 60px 69px 68px 61px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .dining-area .dining-caption {
    padding: 57px 59px 65px 79px;
  }
}

@media (max-width: 767px) {
  .dining-area .dining-caption {
    padding: 55px 38px 53px 29px;
  }
}

.dining-area .dining-caption span {
  color: #dca73a;
  text-transform: uppercase;
  margin-bottom: 14px;
  display: block;
}

.dining-area .dining-caption h3 {
  font-weight: 600;
  color: #112e41;
  margin-bottom: 30px;
}

.dining-area .dining-caption p {
  margin-bottom: 56px;
  line-height: 1.6;
  font-size: 15px;
}

@media (max-width: 767px) {
  .dining-area .dining-caption p br {
    display: none;
  }
}