
.carousel-indicators{
    margin-top: -3rem !important;
    position: absolute;
    bottom: 88px;
}

.carousel-indicators .bullet{
    width: 8px;
    height: 8px;
    border-radius: 50%;
}


/* This section allowed me to apply linear-gradient to the image even when it is not a background image */
.carousel-item:before {
    content: '';
    position:absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgba(38, 47, 90, 0) 0%, rgba(26, 7, 1, 0.99) 56%, #1a0701 57%);
    opacity: 0.567;
    /* z-index: 3; */

}


/* Sectioning the caption at the middle of the div */
.carousel-caption{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}


/* setting different property to the h1 tag */
.carousel-caption h1{
    font-size: 66px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.3;
    margin-bottom: 31px;
    font-family: 'Noto Serif', serif;
    animation: upSlide 2s ease;
    /* position: relative;
    top: 100%;
    left: 0;
    transform: translateY(-50%); */
}

/* setting different property to the h3 tag */
.carousel-caption h3 {
    font-size: 30px;
    color: #fff;
    position: relative;
    display: inline-block;
    margin-bottom: 60px;
    animation: downSlide 2s ease;
  }

/* Putting a line at the begining of h3 */
.carousel-caption h3::before {
    position: absolute;
    content: "";
    width: 154px;
    height: 2px;
    background: #e59a09;
    top: 0;
    left: -180px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  /* Putting the line at the end of the h3 */
  .carousel-caption h3::after {
    position: absolute;
    content: "";
    width: 170px;
    height: 2px;
    background: #e59a09;
    top: 0;
    right: -190px;
    top: 50%;
    transform: translateY(-50%);
  }


  /* Creating the animation effect for the h1 and h3 to animate on load.
  This animation allows the text to appear from the bottom of the screen */
  @keyframes downSlide {
    0% {
      transform: translateY(-300%);
      opacity: 0;
    }
    100%{
        transform: translateY(0%);
    }
  }

  
 /* Creating the animation effect for the h1 and h3 to animate on load.
  This animation allows the text to appear from the top of the screen */
  @keyframes upSlide {
    0% {
      transform: translateY(300%);
    }
    /* 70% {
      transform: translateY(-100%);
    } */

    100%{
        transform: translateY(0%);
    }
  }
    


  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .slider-area .h1-slider-caption h1 {
      font-size: 51px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .slider-area .h1-slider-caption h1 {
      font-size: 34px;
    }
  }
  
  @media (max-width: 767px) {
    .slider-area .h1-slider-caption h1 {
      font-size: 27px;
      margin-bottom: 13px;
    }
  }