 /* Header Section */

 header{
  background-color: white;
  position: relative;
 }

 .navbar-nav li {
    padding: 8px;
 }

 .navbar-nav li a {
    color: #262626;
    font-weight: 400;
    /* padding: 8px; */
    display: block;
    font-size: 16px;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    font-family: 'Lato', sans-serif;
 }

 .navbar-nav li a:hover{
    color: #dca73a !important;
 }

 .navbar-toggler{
    color: #dca73a !important;
 }

  
 @media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-area {
      padding: 18px 0; } }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-area {
      padding: 18px 0; } }
  
  @media (max-width: 767px) {

    .navbar-collapse {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        width: 100%;
    }
    .navbar-nav{
        display: inline-flex;
        justify-content: center;
        justify-items: center;
        margin-right: 0 !important;
        background: fff !important;
        padding: 19px;
        border-bottom: 1px solid #eee;
    }
    
  }
  @media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .header-sticky.sticky-bar.sticky {
      padding: 5px 0; } }
  
  @media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .header-sticky.sticky-bar.sticky {
      padding: 5px 0; } }
  
  