 /* Header Section */

 .navbar-nav li {
    padding: 8px;
 }

 .navbar-nav li a {
    color: #262626;
    font-weight: 400;
    /* padding: 8px; */
    display: block;
    font-size: 16px;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    font-family: 'Lato', sans-serif;
 }

 .navbar-nav li a:hover{
    color: #dca73a !important;
 }

 .navbar-toggler{
    color: #dca73a !important;
 }

  
 @media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-area {
      padding: 18px 0; } }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-area {
      padding: 18px 0; } }
  
  @media (max-width: 767px) {

    .navbar-collapse {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        width: 100%;
    }
    .navbar-nav{
        display: inline-flex;
        justify-content: center;
        justify-items: center;
        margin-right: 0 !important;
        background: fff !important;
        padding: 19px;
        border-bottom: 1px solid #eee;
    }
    
    .header-area {
      padding: 18px 0; } }
  
  .main-header {
    position: relative;
    z-index: 3;
    background-color: white
   }
    .main-header .main-menu ul li {
      display: inline-block;
      position: relative;
      z-index: 1; }
      .main-header .main-menu ul li a {
        color: #262626;
        font-weight: 400;
        padding: 38px 19px;
        display: block;
        font-size: 16px;
        position: relative;
        -webkit-transition: all 0.3s ease-out 0s;
        -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
        -o-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s;
        font-family: 'Lato', sans-serif; }
      .main-header .main-menu ul li:hover > a {
        color: #dca73a; }
    .main-header .main-menu ul ul.submenu {
      position: absolute;
      width: 170px;
      background: #fff;
      left: 0;
      top: 120%;
      visibility: hidden;
      opacity: 0;
      box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
      padding: 17px 0;
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s; }
      .main-header .main-menu ul ul.submenu > li {
        margin-left: 7px;
        display: block; }
        .main-header .main-menu ul ul.submenu > li > a {
          padding: 6px 10px !important;
          font-size: 14px;
          color: #0b1c39; }
          .main-header .main-menu ul ul.submenu > li > a:hover {
            color: #dca73a; }
  
  .main-header ul > li:hover > ul.submenu {
    visibility: visible;
    opacity: 1;
    top: 100%; }
  
  .header-sticky ul li a {
    padding: 10px 19px; }
  
  .header-sticky.sticky-bar.sticky .main-menu ul > li > a {
    padding: 22px 20px; }
  
  @media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .header-sticky.sticky-bar.sticky {
      padding: 5px 0; } }
  
  @media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .header-sticky.sticky-bar.sticky {
      padding: 5px 0; } }
  
  